body {
	max-width: 650px;
	margin: 40px auto;
	padding: 0 10px;
	background: #332715;
	color: #fbfb9b;
	font-family: sans-serif;
	font-size: 1em;
	line-height: 1.6;
}

h1, h2, h3 {
	line-height: 1.2;
}

a {
	color: #fbfb9b !important;
}

p {
	text-align: justify;
}

table {
	width: 100%;
}

hr {
	width: 90%;
	height: 1px;
	margin: 30px auto;
	background: #fbfb9b;
	border: none;
}

/* navigation */

nav {
	margin-bottom: 40px;
	text-align: center;
}

nav a {
	color: #fbfb9b !important;
	font-weight: bold;
	text-decoration: none;
}

/* logo */

.logo {
	font-weight: bold;
}

.logo .g {
	color: #84e29d;
}

.logo .b {
	color: #fdca72;
}
